/*-------All of the following parts are for poster with plot summary section-------*/

.PosterWithPlotSummary {
  border-bottom: solid 1px #f1dc92;
  background-color: #dfe9ff;
  margin: 0 -15px 0 -15px; /*-15px for the left and right to conteract the padding in the <main> element stated at the top of this file*/
  display: inline-flex; /*setting up the flex box with the content not starting on the next line*/
}

#poster {
  height: 260px;
  float: left;
  margin-right: 15px;
}

.PosterWithPlotSummary div {
  /*float: left; Placing the plot next to the poster*/
}

.label {
  font-weight: bold;
}

/*-------All of the following parts are for the trailers-------*/

/*Adding style to the heading elements in the trailers section*/
.trailers h2 {
  font-size: 23pt;
  font-weight: 500;
  margin: 10px 0 -10px 0;
}

/*Creating the playlist*/
#video_player {
  display: table;
  line-height: 0;
  border: solid 1px #f1dc92;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Displaying the selected video and the options of videos under each other*/
#video_player video,
#video_player figcaption {
  display: table-row;
}

/*Styling the selected video*/
figure video {
  width: 100%;
  height: auto;
}

/*When the screen is less then 600px wide, size of the video and options underneath are the width of the screem*/
@media screen and (max-width: 600px) {
  #video_player {
    width: 100%;
  }
}

#video_player figcaption {
  overflow-y: auto;
  list-style: none;
}

/*Styling the options under the selected video*/
#video_player figcaption section {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 10px;
  background-color: #dfe9ff;
}

/*Displaying the option and its text correctly*/
#video_player figcaption a {
  display: block;
}

/*Changing the colour of the option when the user hovers over it*/
#video_player figcaption section:hover {
  background-color: rgb(0, 142, 255);
}

/*Styling the thumbnail for the options*/
#video_player .thumbnail {
  height: 65px;
  float: left;
  margin: 5px;
}

/*Positioning the information for each option*/
#video_player .thumbnail_info {
  position: relative;
  top: 14px;
  height: 100%;
}

/*Styling the title of the videos in the options*/
#video_player .thumbnail_title {
  color: black;
  font-weight: bold;
}

/*Styling and positioning the duration of the video options*/
#video_player .duration {
  float: right;
  color: black;
  margin-right: 5px;
}

/*Styling the description of the options*/
#video_player .description {
  color: black;
  font-size: 10pt;
  margin-top: 18px;
}

/*Styling the source reference in the video options*/
#video_player .source {
  color: black;
  font-size: 7pt;
  margin-top: 15px;
}

/*Styling the fallback section*/
aside .fallback {
  text-align: center;
}
